<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
  <script src='../app.js' type="text/javascript"></script>
</head>
<body>
  <div class="control-box">
    <div class="close" id="close-btn"></div>
    <div class="max" id="max-btn"></div>
    <div class="min" id="min-btn"></div>
  </div>
  <div class="chat-top" id="chatTop">
    <hr class="hr-text" id="chnl-hr" data-content=""/>
  </div>
  <div class="alert-bg" id="alertas"></div>
  <div class="loginBg" id="loginBg">
    <div class="form">
      <div class="loginTitle">pChat Login</div>
      <input type="text" placeholder="Usuario" id="loginUsernameInput" value="rubegartor"/>
      <input type="password" placeholder="Contraseña" id="loginPasswordInput" value="rubegartor"/>
      <div id="loginMoreOptionsGroup" style="display: none;">
        <input type="text" placeholder="Host" id="hostLoginInput"/>
        <input type="text" placeholder="Puerto" id="portLoginInput"/>
      </div>
      <button type="button" id="submitLogin">Entrar</button>
      <span class="form-label" id="loginMoreOptions">&raquo; Más opciones</span>
    </div>
  </div>
  <div class="contextmenu" id="contextmenu">
    <ul class="menu-options"></ul>
  </div>
  <div class="searchTextBg" id="searchPanel" style="display: none;">
    Búsqueda de mensajes:
    <input class="searchInput" placeholder="Búsqueda">
  </div>
  <div class="sidebar" id="sidebar" style="visibility: hidden;">
    <div class="sidebar-panel1"></div>
    <div class="sidebar-panel2">
      <div class="sidebar-title">Canales de texto: <img src="file:///images/plus_20.png" id="createChannelBtn"/></div>
      <div class="separator-sidebar"></div>
      <ul class="sidebar-channel" id="chnl-panel"></ul>
      <div class="sidebar-title sidebar-title-mt">Usuarios: <img src="file:///images/chevron_up_20.png" id="toggleUsersViewBtn"/></div>
      <div class="separator-sidebar"></div>
      <ul class="sidebar-users" id="usrs-panel"></ul>
    </div>
  </div>
  <div class="chat-container">
    <div class="control-images" id="controlImages" style="display: none;">
      <img src="file:///images/search_20.png" id="searchBtn"/>
      <img src="file:///images/pushpin_20.png"/>
      <img src="file:///images/notif1_20.png" id="notifBtn"/>
      <img src="file:///images/cog_20.png" id="cogBtn"/>
    </div>
    <div class="chat-messages" id="chat-messages"></div>
    <div class="chat-bottom" id="chatBottom">
      <input type="text" class="mainInput" placeholder="Enviar mensaje" id="mainInput"/>
    </div>
  </div>
  <div class="configPanel" id="configPanel">
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="image-bg" id="main-image" style="display: none;">
    <div class="main-image"></div>
  </div>
</body>
</html>