/*
body: #363c42
sidebar: #212529
text-color: #dce0eb
normal-link: #3498db
hover-link: #2980b9
message-bg: #40484f
gray: #6A6C75
red: #E74C3C
yellow: #F1C40F
green: #2ECC71
*/

*{
  margin: 0;
  padding: 0;
  user-select: none;
}

body{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
  background-color: #363c42;
  color: #dce0eb;
  overflow: hidden;
}

a{
  color: #3498db;
  outline: 0;
}

a:hover{
  opacity: 0.8;
}

a:active{
  color: #2980b9;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #434b53;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2a3035;
  border-radius: 10px;
}

.control-box{
  width: calc(100% - 20px);
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;
}

.control-box img{
  float: right;
}

.control-box .close{
  display: inline-block;
  background-color: #6A6C75;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0px 2px;
  cursor: pointer;
}

.control-box .close:hover{
  background-color: #E74C3C;
}

.control-box .max{
  display: inline-block;
  background-color: #6A6C75;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0px 2px;
  cursor: pointer;
}

.control-box .max:hover{
  background-color: #F1C40F;
}

.control-box .min{
  display: inline-block;
  background-color: #6A6C75;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0px 2px;
  cursor: pointer;
}

.control-box .min:hover{
  background-color: #2ECC71;
}

.sidebar{
  background-color: #212529;
  width: 250px;
  height: 100vh;
  display: inline-block;
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.53);
}

.sidebar-panel1{
  width: 100%;
  height: 40px;
}

.sidebar-panel2{
  width: 100%;
  height: calc(100vh - 40px);
  overflow-y: auto;
}

.separator-sidebar{
  background-color: #2a2f34;
  width: calc(100% - 30px);
  height: 2px;
  margin: 5px 15px 7px 15px;
}

.sidebar-title{
  font-weight: bold;
  margin-left: 17px;
}

.sidebar-title img{
  float: right;
  margin-top: 3px;
  margin-right: 15px;
  cursor: pointer;
}

.sidebar-title img:hover{
  opacity: .6;
}

.sidebar-title-mt{
  margin-top: 15px;
}

.sidebar-channel{
  width: 100%;
  height: auto;
}

.sidebar-channel li{
  height: auto;
  margin-left: 10px; 
  margin-right: 10px;
  margin-top: 2px;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-channel li:hover{
  background-color: #363c42;
}

.sidebar-channel .active-channel{
  background-color: #363c42;
  border-left: 4px solid #6A6C75;
  padding-left: 11px;
}

.sidebar-users{
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.sidebar-users li{
  height: auto;
  margin-left: 10px; 
  margin-right: 10px;
  /* margin-top: 2px; */
  padding: 5px 15px 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-users li:hover{
  background-color: #363c42;
}

.sidebar-users li .status{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 1px;
}

.sidebar-users li .green{
  background-color: #2ECC71;
}

.sidebar-users li .red{
  background-color: #E74C3C;
}

.sidebar-users li .yellow{
  background-color: #F1C40F;
}

.sidebar-users li .gray{
  background-color: #6A6C75;
}

.chat-container{
  float: right;
  width: calc(100% - 270px);
  height: calc(100vh - 20px);
  padding: 10px;
}

.chat-top{
  position: absolute;
  top: 1px;
  left: 260px;
  width: calc(100% - 355px);
  height: 23px;
  margin-bottom: 10px;
  padding-top: 8px;
  -webkit-app-region: drag;
}

.control-images{
  position: absolute;
  background-color:#363c42;
  top: 11px;
  right: 20px;
  padding-left: 15px;
}

.control-images img{
  cursor: pointer;
  z-index: 100;
}

.control-images img:hover{
  opacity: 0.5;
}

.chat-messages{
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 35px;
  overflow-y: auto;
}

.chat-bottom{
  height: 35px;
  width: 100%;
  margin-top: 10px;
}

.message-container{
  width: 100%;
}

.message{
  background-color: #40484f;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.53);
}

.message-header{
  display: inline-block;
  width: 100%;
}

.message-username{
  margin-left: 15px;
  cursor: pointer;
}

.message-username:hover{
  text-decoration: underline;
}

.message-time{
  float: right;
  margin-right: 15px;
}

.message-line{
  display: block;
  word-wrap: break-word;
  word-break: break-all;
  user-select: text;
}

.mainInput{
  background-color: #40484F;
  width: calc(100% - 24px);
  height: 35px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 0px 12px;
  font-size: 0.95rem;
  color: #dce0eb;
}

.mainInput::placeholder{
  color: rgba(255, 255, 255, 0.6);
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: left;
  height: 1.5em;
  opacity: 0.6;
}

.hr-text:before {
  content: "";
  background-color: #1e2225;
  position: absolute;
  left: 0;
  top: 50%;
  width: calc(100%);
  height: 1px;
}

.hr-text:after {
  background-color: #343A40;
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.8em;
  line-height: 1.5em;
}

.contextmenu {
  position: absolute;
  background-color: #191c1f;
  width: auto;
  display: none;
  border-radius: 4px;
}

.contextmenu .menu-options {
  list-style: none;
}

.contextmenu .menu-options .menu-option {
  padding: 6px 18px 8px 18px;
  cursor: pointer;
}

.contextmenu .menu-options .menu-option:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.channelInput{
  background-color: #40484F;
  width: calc(100% - 54px);
  height: 35px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 0px 12px;
  margin: 2px 15px;
  font-size: 0.95rem;
  color: #dce0eb;
}

.channelInput::placeholder{
  color: rgba(255, 255, 255, 0.6);
}